.article-highlight {
  margin-bottom: 20px;

  &__left {
    width: percentage(5/12);
    padding-right: 10px;
  }

  &__right {
    width: percentage(7/12);
    padding-left: 10px;
  }

  h3 {
    color: map-get($theme-colors, principal);
    font-size: map-get($font-size, tittle-3)#{rem};
    font-weight: map-get($font-weight, medium);
    line-height: 4.4rem;
  }

  @include breakpoints(lg){
    &__left {
      width: percentage(6/12);
    }
    &__right {
      width: percentage(6/12);
    }
  }

  @include breakpoints(md){
    display: grid;
    grid-template-rows: 1.8fr 1fr;

    &__left {
      width: percentage(12/12);
      padding-right: 0;
      grid-row: 2 / 2;
      }

    &__right {
      width: percentage(12/12);
      padding-left: 0;
      grid-row: 1 / 2;
    }

    h3{
    padding: 10px 0;
    font-size: 2.8rem;
    }
  } 

  @include breakpoints(sm){
    grid-template-rows: 1.2fr 1fr;

  } 

  @include breakpoints(xs){
    grid-template-rows: 1.2fr 1fr;
  }
}

.featured-articles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;

    img {
      width: 100%;
    }

    h3 {
      padding: 10px 0 10px;
    }

    @include breakpoints(sm){
     display: block;
    } 

}

.more {
  color: map-get($theme-colors, secondary);
  font-weight: map-get($font-weight, medium);
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
  padding: 40px 0 0;
  text-transform: uppercase;
}

.line {
  background-color: map-get($theme-colors, body);
  height: 1px;
  margin: 20px 20px 0;
  opacity: 0.3;
}
