/*
*FONTS
*/

//SIZE
$font-size: (
    html: 62.5%,
    body: 1.4,
    links: 2,
    regular: 1.6,
    tittle-1: 3.4,
    tittle-2: 2.2,
    tittle-3: 3.6,
);

//WEIGHT
$font-weight: (
    bold: 900,
    medium: 700,
    light: 300,
);

// FAMILY
$font-family: (
    body: 'Lato'
);

/*
* COLORS
*/

$theme-colors: (
    body: #778899,
    primary: #1f3f68,
    secondary: #5a98d0,
    icons: #356ead,
    special: #3481d7,
    white: #ffffff,
    footer: #316099,
);

/*
*EXTENDS
*/

%titles {
    font-weight: map-get($font-weight, medium);
    line-height: 1.3em;
    padding-bottom: 20px;
};

%input-box {
    background-color: #f4f4f4;
    border-radius: 10px;
    border: none;
}