/*
*FONTS
*/
/*
* COLORS
*/
/*
*EXTENDS
*/
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.3em;
  padding-bottom: 20px;
}

.search input {
  background-color: #f4f4f4;
  border-radius: 10px;
  border: none;
}

/*
*BREAKPOINTS
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato";
  font-size: 1.4rem;
  color: #778899;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #5a98d0;
  text-transform: uppercase;
  padding: 0 0 30px;
}

h3 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3rem;
}

a {
  font-family: 'Lato', sans-serif;
  color: #1f3f68;
  text-decoration: none;
}

input {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

span {
  font-size: 1.2rem;
}

section {
  padding: 5% 0 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flx-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flx-direction-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flx-direction-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flx-direction-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flx-direction-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.img-responsive {
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 1060px) {
  main .wrapper {
    padding: 0 20px;
  }
}

header {
  padding: 40px;
}

header .nav li {
  display: inline-block;
  padding: 10px;
  font-size: 2rem;
  font-weight: 300;
}

header .nav li:nth-child(1) {
  font-weight: 900;
}

@media (max-width: 620px) {
  header .nav li {
    font-size: 1.6rem;
  }
}

.data {
  display: -ms-grid;
  display: grid;
}

.data span {
  display: block;
}

.data p {
  color: #1f3f68;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 2.4rem;
}

.data i {
  color: #356ead;
  font-size: 1.6rem;
}

.article-highlight .data,
.featured-articles .data {
  -ms-grid-columns: 76% 12% 12%;
      grid-template-columns: 76% 12% 12%;
  margin: 25px 0 0;
}

.article-highlight .data i,
.featured-articles .data i {
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 15px 5px;
}

.all-articles__item .data {
  -ms-grid-columns: 86% 7% 7%;
      grid-template-columns: 86% 7% 7%;
  margin: 25px 0 0;
}

.all-articles__item .data i {
  padding: 15px;
}

.banner {
  margin: 0 auto;
  padding: 5%;
  background: #3481d7;
  background-image: url(../images/banner-texture.png);
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

.banner p {
  margin: 30px 0;
  font-size: 2.2rem;
  line-height: 3rem;
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 3.2rem;
  }
  .banner p {
    font-size: 1.6rem;
  }
}

.search {
  position: relative;
}

.search i {
  position: absolute;
  padding: 20px;
  color: #1f3f68;
}

.search input {
  height: 56px;
  width: 100%;
  padding: 0 45px;
  font-size: 1.6rem;
}

.article-highlight {
  margin-bottom: 20px;
}

.article-highlight__left {
  width: 41.66667%;
  padding-right: 10px;
}

.article-highlight__right {
  width: 58.33333%;
  padding-left: 10px;
}

.article-highlight h3 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.4rem;
}

@media (max-width: 1060px) {
  .article-highlight__left {
    width: 50%;
  }
  .article-highlight__right {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .article-highlight {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1.8fr 1fr;
        grid-template-rows: 1.8fr 1fr;
  }
  .article-highlight__left {
    width: 100%;
    padding-right: 0;
    -ms-grid-row: 2;
    grid-row: 2 / 2;
  }
  .article-highlight__right {
    width: 100%;
    padding-left: 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .article-highlight h3 {
    padding: 10px 0;
    font-size: 2.8rem;
  }
}

@media (max-width: 620px) {
  .article-highlight {
    -ms-grid-rows: 1.2fr 1fr;
        grid-template-rows: 1.2fr 1fr;
  }
}

@media (max-width: 480px) {
  .article-highlight {
    -ms-grid-rows: 1.2fr 1fr;
        grid-template-rows: 1.2fr 1fr;
  }
}

.featured-articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.featured-articles img {
  width: 100%;
}

.featured-articles h3 {
  padding: 10px 0 10px;
}

@media (max-width: 620px) {
  .featured-articles {
    display: block;
  }
}

.more {
  color: #5a98d0;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
  padding: 40px 0 0;
  text-transform: uppercase;
}

.line {
  background-color: #778899;
  height: 1px;
  margin: 20px 20px 0;
  opacity: 0.3;
}

.all-articles__item {
  padding: 0 0 20px;
}

.all-articles__item figure {
  width: 33.33333%;
}

@media (max-width: 768px) {
  .all-articles__item figure {
    width: 41.66667%;
  }
}

@media (max-width: 620px) {
  .all-articles__item {
    display: block;
    margin-bottom: 20px;
  }
  .all-articles__item figure {
    width: 100%;
  }
}

.article-info {
  width: 66.66667%;
  padding: 0 0 0 20px;
}

.article-info h3 {
  padding: 0 0 5px 0;
  font-size: 2rem;
}

.article-info p {
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .article-info {
    width: 58.33333%;
  }
}

@media (max-width: 620px) {
  .article-info {
    width: 100%;
    padding: 10px 0 0;
  }
}

.pagination {
  padding: 40px 0 60px;
}

.pagination__btn i {
  padding: 5px;
  font-size: 1.4rem;
}

.pagination__btn a {
  color: #356ead;
}

.pagination__btn p {
  padding: 0 10px;
  font-size: 1.4rem;
}

.footer {
  margin-right: 5%;
  border-top-right-radius: 80px;
  background-color: #316099;
  padding: 5% 0;
}

.footer__line {
  background-color: #ffffff;
  opacity: 0.4;
  height: 1px;
  margin: 80px 0;
}

.footer__rights {
  color: #ffffff;
  opacity: 0.6;
}

.work-here {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.work-here__text {
  padding: 0 5%;
}

.work-here__text h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 4.6rem;
  letter-spacing: 0.2rem;
}

.work-here__text p {
  color: #ffffff;
  opacity: 0.6;
}

@media (max-width: 620px) {
  .work-here__text {
    width: 100%;
    margin-bottom: 40px;
  }
}

.work-here button {
  width: 250px;
  height: 56px;
  margin: auto 5%;
  border-radius: 10px;
  -ms-grid-column-align: end;
      justify-self: end;
  border: none;
  background-color: #5a98d0;
}

.work-here button a {
  font-size: 2.2rem;
  color: #ffffff;
}

@media (max-width: 620px) {
  .work-here button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 620px) {
  .work-here {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-links {
  padding: 40px 0;
}

.footer-links span {
  font-weight: 700;
}

.footer-links p,
.footer-links span {
  color: #ffffff;
  font-size: 1.6rem;
  padding: 20px 20px 0 0;
  display: inline-block;
}

.footer-links a {
  font-size: 1.6rem;
  color: #ffffff;
}

.footer-links h2 {
  font-size: 2rem;
  color: #ffffff;
}

.footer-links__social a, .footer-links__nav a {
  color: #ffffff;
}

.footer-links__social li, .footer-links__nav li {
  padding: 20px 20px 0 0;
}

@media (max-width: 768px) {
  .footer-links {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-links h2 {
    padding: 0;
  }
  .footer-links__logo, .footer-links__nav, .footer-links__social {
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=main.css.map */